
qgisDemo/x64/Debug/qmake/qtvars_x64_Debug.props
qgisDemo/x64/Debug/qmake/temp/.qmake.stash
qgisDemo/x64/Debug/qmake/temp/B2507951-A3D0-4610-9B7E-B009402800A8.qgisDemo.designtime.idx
qgisDemo/x64/Debug/qmake/temp/Makefile
qgisDemo/x64/Debug/qmake/temp/props.txt
qgisDemo/x64/Debug/qmake/temp/qtvars.log
qgisDemo/x64/Debug/qmake/temp/qtvars.pro
qgisDemo/x64/Debug/qmake/temp/qtvars_x64_Debug.props
qgisDemo/x64/Release/main.obj
qgisDemo/x64/Release/moc/moc_qgisDemo.cpp
qgisDemo/x64/Release/moc/moc_qgsattribute.cpp
qgisDemo/x64/Release/moc/moc_qgsmaptooladdfeature.cpp
qgisDemo/x64/Release/moc_qgisDemo.obj
qgisDemo/x64/Release/moc_qgsattribute.obj
qgisDemo/x64/Release/moc_qgsmaptooladdfeature.obj
qgisDemo/x64/Release/qgisDemo.log
qgisDemo/x64/Release/qgisDemo.obj
qgisDemo/x64/Release/qgisDemo.tlog/CL.command.1.tlog
qgisDemo/x64/Release/qgisDemo.tlog/CL.read.1.tlog
qgisDemo/x64/Release/qgisDemo.tlog/CL.write.1.tlog
qgisDemo/x64/Release/qgisDemo.tlog/link.command.1.tlog
qgisDemo/x64/Release/qgisDemo.tlog/link.read.1.tlog
qgisDemo/x64/Release/qgisDemo.tlog/link.write.1.tlog
qgisDemo/x64/Release/qgisDemo.tlog/moc.read.1u.tlog
qgisDemo/x64/Release/qgisDemo.tlog/moc.write.1u.tlog
qgisDemo/x64/Release/qgisDemo.tlog/qgisDemo.lastbuildstate
qgisDemo/x64/Release/qgisDemo.tlog/qgisDemo.write.1u.tlog
qgisDemo/x64/Release/qgisDemo.tlog/rcc.read.1u.tlog
qgisDemo/x64/Release/qgisDemo.tlog/rcc.write.1u.tlog
qgisDemo/x64/Release/qgisDemo.tlog/uic.read.1u.tlog
qgisDemo/x64/Release/qgisDemo.tlog/uic.write.1u.tlog
qgisDemo/x64/Release/qgsattribute.obj
qgisDemo/x64/Release/qgsmaptooladdfeature.obj
qgisDemo/x64/Release/qmake/qtvars_x64_Release.props
qgisDemo/x64/Release/qmake/temp/.qmake.stash
qgisDemo/x64/Release/qmake/temp/B2507951-A3D0-4610-9B7E-B009402800A8.qgisDemo.designtime.idx
qgisDemo/x64/Release/qmake/temp/Makefile
qgisDemo/x64/Release/qmake/temp/props.txt
qgisDemo/x64/Release/qmake/temp/qtvars.log
qgisDemo/x64/Release/qmake/temp/qtvars.pro
qgisDemo/x64/Release/qmake/temp/qtvars_x64_Release.props
qgisDemo/x64/Release/qrc_qgisDemo.obj
qgisDemo/x64/Release/qt_work.log
qgisDemo/x64/Release/rcc/qrc_qgisDemo.cpp
qgisDemo/x64/Release/uic/ui_qgisDemo.h
qgisDemo/x64/Release/vc141.pdb
qgisDemo/x64/Debug/qmake/temp/.qmake.stash
qgisDemo/x64/Debug/qmake/temp/B2507951-A3D0-4610-9B7E-B009402800A8.qgisDemo.designtime.idx
qgisDemo/x64/Debug/qmake/temp/Makefile
qgisDemo/x64/Debug/qmake/temp/props.txt
qgisDemo/x64/Debug/qmake/temp/qtvars.log
qgisDemo/x64/Debug/qmake/temp/qtvars.pro
qgisDemo/x64/Debug/qmake/temp/qtvars_x64_Debug.props
qgisDemo/x64/Release/qmake/temp/.qmake.stash
qgisDemo/x64/Release/qmake/temp/B2507951-A3D0-4610-9B7E-B009402800A8.qgisDemo.designtime.idx
qgisDemo/x64/Release/qmake/temp/Makefile
qgisDemo/x64/Release/qmake/temp/props.txt
qgisDemo/x64/Release/qmake/temp/qtvars.log
qgisDemo/x64/Release/qmake/temp/qtvars.pro
qgisDemo/x64/Release/qmake/temp/qtvars_x64_Release.props
qgisDemo/x64/Debug/qmake/temp/.qmake.stash
qgisDemo/x64/Debug/qmake/temp/B2507951-A3D0-4610-9B7E-B009402800A8.qgisDemo.designtime.idx
qgisDemo/x64/Debug/qmake/temp/Makefile
qgisDemo/x64/Debug/qmake/temp/props.txt
qgisDemo/x64/Debug/qmake/temp/qtvars.log
qgisDemo/x64/Debug/qmake/temp/qtvars.pro
qgisDemo/x64/Debug/qmake/temp/qtvars_x64_Debug.props
qgisDemo/x64/Release/qmake/temp/.qmake.stash
qgisDemo/x64/Release/qmake/temp/B2507951-A3D0-4610-9B7E-B009402800A8.qgisDemo.designtime.idx
qgisDemo/x64/Release/qmake/temp/Makefile
qgisDemo/x64/Release/qmake/temp/props.txt
qgisDemo/x64/Release/qmake/temp/qtvars.log
qgisDemo/x64/Release/qmake/temp/qtvars.pro
qgisDemo/x64/Release/qmake/temp/qtvars_x64_Release.props
.vs/qgisDemo/v15/.suo
.vs/qgisDemo/v15/Browse.VC.db
.vs/qgisDemo/v15/ipch/AutoPCH/4de220bd94dd24ab/QGISDEMO.ipch
